@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.d_flex {
  display: flex;
}

.d_flex_col {
  display: flex;
  flex-direction: column;
}

.d_flex_ai {
  align-items: center;
}

.d_flex_jc {
  justify-content: center;
}

.d_none {
  display: none;
}

.main {
  min-height: 100vh;

  /* padding-top: 20px; */
}

.no-scroll {
  overflow: hidden;
}

.sidebarnav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(24, 24, 27);
  width: 70%;
  height: 100%;
  z-index: 20;
  padding: 10% 2%;
}

.sidebarnav ul {
  margin-top: 100%;
}

.sidebar_btn {
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.sidebar {
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
  width: 100%;
}

.sidebar_navlinks {
  justify-content: space-between;
  padding: 1% 5% 1% 10%;
}

.sidebar_navlinks ul {
  align-items: center;
  gap: 20px;
}

.sidebar_navlinks li a {
  justify-content: space-between;
}

.socials_container ul li a {
  gap: 8px;
}

.sidebar_navlinks a:hover {
  color: #fff;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.layout {
  width: 100%;
  padding: 0% 10%;
}

.toggle-bgcolor-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.bulb {
  font-size: 25px;
}

/* Home Section */
#home {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.spline_container {
  width: 500px;
}

.main_container {
  padding: 0 2rem 0 2rem;
}

.main_text {
  margin-top: 30%;
}

.main_description_text {
  margin-top: 1rem;
  line-height: 1.5rem;
}

.socials_container {
  width: 300px;
  margin-top: 2rem;
}

.socials_container ul {
  flex-wrap: wrap;
  gap: 0.7rem;
}

/* About Section */
#about,
#projects {
  padding: 2% 8%;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.numbered-heading::before {
  counter-increment: section;
  content: "0" counter(section) ".";
  color: #64ffda;
  font-size: 1.2rem;
  margin-right: 10px;
}

.numbered-heading:not(.exclude)::after {
  width: 200px;
  content: "";
  display: block;
  height: 1px;
  margin-left: 20px;
  background-color: rgb(39 39 42);
}

.about_container {
  margin-bottom: 4rem;
}

.about_description_container {
  width: 70%;
}

.about_description {
  margin-top: 2rem;
  gap: 10px;
}

.about_description p {
  line-height: 1.5rem;
}

.skill_list_container {
  width: 60%;
  margin-top: 10px;
}

.skill_list {
  display: grid;
  grid-template-columns: auto auto;
}

.skill_list li {
  font-size: 14px;
  line-height: 1.5rem;
  gap: 5px;
}

.skill_list li::before,
.stack_container li::before {
  content: "▹";
  color: #64ffda;
  margin-right: 10px;
}

/* Project Section */
.project_container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 10%;
}

.overlay,
.sidebar_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar_overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.project_card {
  height: 400px;
  border-radius: 5px;
  padding: 20px;
  transition: 0.5s all ease;
  animation: entry 1s linear 1;
  overflow: hidden;
}

.project_card:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
}

.project_content {
  position: relative;
  height: 100%;
  gap: 1rem;
  z-index: 4;
}

.project_description_container,
.project_description {
  height: 100%;
}

.project_icons {
  justify-content: space-between;
}

.project_icons > div {
  gap: 5px;
}

.folder_icon {
  color: #64ffda;
  font-size: 2.5rem;
}

.github_icon,
.link_icon {
  color: #a8b2d1;
  font-size: 1.2rem;
}

.github_icon:hover,
.link_icon:hover {
  color: #64ffda;
}

.project_title_container {
  align-self: center;
  margin-bottom: 10px;
}

.project_about {
  text-align: center;
}

.project_about p {
  color: #fff;
  font-weight: 600;
}

.stack_container {
  margin-top: auto;
}

.project_stack {
  gap: 5px;
  font-size: 0.8rem;
}

.project_stack li {
  font-weight: 600;
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }

  100% {
    top: 0%;
  }
}

/* Contact */
.contact_contents {
  gap: 1rem;
  margin-bottom: 15rem;
}

.form_container {
  width: 40%;
}

#form {
  gap: 1rem;
}

.input_container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

#form input,
#form textarea {
  background-color: transparent;
  outline: none;
  padding: 8px;
  border: 1px solid rgb(133, 133, 133);
  color: #fff;
}

#message_container {
  width: 100%;
}

.form_btn {
  outline: none;
  cursor: pointer;
  border: none;
}

/* Footer */
.footer {
  text-align: center;
  color: rgba(161, 161, 170, 0.5);
  font-family: 'Inconsolata', sans-serif;
}

/* Dark Mode */
.light-mode,
.main.light-mode .scrolled {
  background-color: rgb(240, 240, 240);
}

.main.light-mode p,
.main.light-mode .skill_list li {
  color: rgb(82, 82, 91);
}

.main.light-mode h2 {
  color: #000;
}

.main.light-mode a {
  color: rgba(82, 82, 91, 0.8);
}

.main.light-mode .numbered-heading::before {
  color: #000080;
}

.main.light-mode .skill_list li::before,
.main.light-mode .stack_container li::before {
  content: "▹";
  color: #000080;
  margin-right: 10px;
}

.main.light-mode .light_green {
  color: #000080;
}

.main.light-mode .project_about p {
  color: #fff;
}

.main.light-mode .project_stack ul li {
  color: rgb(161, 161, 170) !important;
}

.main.light-mode .footer {
  color: rgb(82, 82, 91);
}

.main.light-mode .sidebar_btn {
  color: black
}

.main.light-mode .sidebarnav {
  background-color: rgb(240, 240, 240);
}