@media screen and (max-width: 768px) {
	.sidebar {
		display: none;
	}

	.spline_container {
		display: none;
	}

	.layout {
		margin-left: 0;
	}

	#home {
		display: flex;
	}

	#dynamic_text {
		font-size: 2.5rem;
	}

	.numbered-heading:not(.exclude)::after {
		width: 100px;
	}

	#about,
	#projects {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.about_description_container {
		width: 100%;
	}

	.project_container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.overlay {
		background-color: rgba(0, 0, 0, 0.6);
	}

	.project_card {
		animation: none;
	}

	.project_card:hover {
		transform: none;
	}

	#contact {
		padding: 2% 8%;
	}
}

/* @media screen and (min-width: 769px) {
	#about {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.about_container {
		justify-content: center;
	}
} */